.create-page {
  font-family: 'Open Sans Condensed', sans-serif;

  display: flex;
}

.create-activity-ribbon {
  font-family: 'Open Sans Condensed', sans-serif;

  width: 25%;
  border: 1px solid #ddd;
  margin: 5px;
}

.create-activity-form-container {
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.1),0 2px 2px -2px rgba(0,0,0,.02),0 1px 4px 0 rgba(0,0,0,.04);

  padding: 30px;
  width: 60%;
}

.experience-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input.title-input, textarea.description-input {
  border: 1px solid #000;

  border-radius: 5px;
  padding: 5px 10px;
  width: 100%;
  background: #fff;
  margin-bottom: 30px;
}

textarea.description-input {
  height: 100px;
}

.form-title {
  font-size: 28px;
  margin-bottom: 30px;
}

.create-activity-form {
  width: 80%%;
  /* margin: 5px; */
  /* border: 1px solid #ccc; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.activity-menu {
  display: flex;
}

li.activity-menu-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  justify-content: space-around;
  border: 1px solid black;
  box-sizing: border-box;
  width: 80px;
  height: 80px;
}

li.activity-menu-button svg[class^="svg"] {
  font-size: 24px;
  margin-bottom: 5px;
}

li.activity-menu-button:hover, li.activity-menu-button:hover span {
  cursor: pointer;
  background: gray;
}

#map {
  height: 400px;
  width: 95%;
  margin: 20px auto;
}

#pac-input {
  margin-top: 12px;
  transform: translateX(30px);
  width: 70%;
  background-color: #fff;
  font-size: 16px;
}

@media screen and (max-width: 1300px) {
  #pac-input {
    width: 60%;
  }
}

.location-preview-image {
  width: 25%;
}
