.create-page {
  display: flex;
}

.create-activity-ribbon {
  width: 25%;
}

.create-activity-form {
  width: 100%;
}

#map {
  height: 700px;
  width: 95%;
  margin: 20px auto;
}

#pac-input {
  margin-top: 12px;
  width: 80%;
  background-color: #fff;
  font-size: 16px;
}



@media screen and (max-width: 1300px) {
  #pac-input {
    width: 60%;
  }
}
