.create-page {
  font-family: 'Open Sans Condensed', sans-serif;

  display: flex;
}

.create-activity-ribbon {
  font-family: 'Open Sans Condensed', sans-serif;

  width: 25%;
  border: 1px solid #ddd;
  margin: 5px;
}

.create-activity-form-container {
  margin-top: 50px;
  margin-left: 50px;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.1),0 2px 2px -2px rgba(0,0,0,.02),0 1px 4px 0 rgba(0,0,0,.04);

  padding: 30px;
  width: 60%;
}

.experience-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.genre-container {
  display: flex;
  width: 100%;
  /* margin: 30px 0; */
  margin-bottom: 30px;


}

.genre-tags {
  display: flex;
  height: 30px;
  width: 1px;
  margin-bottom: 10px;
}

.genre-tag {
  padding: 2px 8px;
  font-size: 18px;
  color: #fff;
  background: #000;
  margin-right: 10px;
}

.genre-container svg[class^="svg"]{
  font-size: 29px;
  margin-left: 10px;
}

input.genre-input {
  border: 1px solid #000;

  border-radius: 5px;
  padding: 5px 10px;

  background: #fff;
  box-sizing: border-box;
}

input.title-input, textarea.description-input {
  border: 1px solid #000;

  border-radius: 5px;
  padding: 5px 10px;
  width: 100%;
  background: #fff;
  margin-bottom: 30px;
  box-sizing: border-box;

}

label.file-input {

}

input.file-input {
  width: 0.1px;
  height: 0.1px;
  position: fixed;
  bottom: 0px;
}

textarea.description-input {
  height: 100px;
  border: 1px solid #000;
  background: #fff;


  border-radius: 5px;
  padding: 5px 10px;
}

label.duration-input {
  width: 100%;
  font-size: 18px;
}

input.duration-input {
  border: 1px solid #000;
  font-size: 14px;
  border-radius: 5px;
  padding: 5px 5px;
  background: #fff;
  width: 150px;
  /* margin-left: 10px; */
  margin-bottom: 30px;
}

.form-title {
  font-size: 28px;
}

.create-activity-form {
  width: 80%%;
  /* margin: 5px; */
  /* border: 1px solid #ccc; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.activity-menu {
  display: flex;
}

li.activity-menu-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;

  justify-content: space-around;
  border: 1px solid black;
  box-sizing: border-box;
  width: 14%;
  padding: 2% 5px;

}

li.activity-menu-button svg[class^="svg"] {
  font-size: 48px;

  margin-bottom: 5px;
}

li.activity-menu-button:hover,
li.activity-menu-button:hover span {
  cursor: pointer;
  background: gray;
}

#map {
  height: 400px;
  width: 95%;
  margin: 20px auto;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.3),0 2px 2px -2px rgba(0,0,0,.02),0 1px 4px 0 rgba(0,0,0,.1);

}

#pac-input {
  margin-top: 12px;
  transform: translateX(30px);
  width: 70%;
  background-color: #fff;
  font-size: 16px;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.3),0 2px 2px -2px rgba(0,0,0,.02),0 1px 4px 0 rgba(0,0,0,.1);
  padding: 5px 5px;
  border-radius: 5px;
}

@media screen and (max-width: 1300px) {
  #pac-input {
    width: 60%;
  }
}

.location-preview-image {
  /* width: 25%; */
}

.hide-scrollbar-div {
  /* height: 100%; */
  height: 150px;
  width: 90%;

  border: 1px solid #000;

  overflow: hidden;
  position: relative;
}

.gradient-overlay {
  width: 50px;
  position: absolute;
  top: 0px;
  bottom: 0px;

  right: 0px;
  background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.7))
}

.google-maps-photos {
  display: flex;
  padding-bottom: 15px;
  /* border-radius: 5px; */
  /* overflow-x: scroll; */

}

.google-maps-photo {
  /* width: 10%; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-width: 250px;
  height: 100%
}

.google-maps-photo img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  border-right: 1px solid #000;
}

.custom-preview {
  max-width: 250px;
}
