.home-page {
  min-height: 100%;
  background-color: #ddd;
  padding-top: 20px;
  width: 100%;
}

.home-header {
  margin: 0 20px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  overflow: hidden;
}

.experience-index-item {
  width: 95%;
  height: 15%;
  margin: 30px auto;
  border: 1px solid #000;
}

.experience-index-item p {
  font-size: 2vh;
}

.experience-ribbon {
  height: 84.44444444444%;
  width: 100%;
  background-color: #bbb;
}
