.home-page {
  min-height: 100%;
  width: 100%;
}

.home-header {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.header-text {
  position: absolute;
  font-size: 180px;
  font-weight: 900;
  /* font-family: 'Rock Salt', cursive; */
  /* font-family: 'Open Sans Condensed', sans-serif; */
  /* font-family: 'Permanent Marker', cursive; */
  font-family: 'Arial', sans-serif;
  opacity: 0.6;
  overflow-wrap: break-word;
}

.banner-image {
  height: 38%;
  width: 83vw;
}
