.experience-index-item {
  width: 95%;
  height: 15%;
  margin: 30px auto;
  display: flex;
}

.experience-index-item section {
  width: 100%;
}

.small-exp-ribbion-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vote-buttons {
  width: 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vote-buttons svg {
  font-size: 2vw;
}

.vote-buttons svg:hover {
  cursor: pointer;
}

.vote-count {
  user-select: none;
  transform: rotate(90deg);

}

.small-exp-title {
  padding-left: 70px;
  font-size: 22px;
  /* font-family: arial, sans-serif; */
  font-family: 'Futura', sans-serif;
  font-weight: 700;
}

.small-exp-title:hover {
  cursor: pointer;
}

.experience-ribbon {
  display: flex;
  height: 84.44444444444%;
  width: 100%;
  background: url("https://images.fineartamerica.com/images-medium-large-5/color-explosion-abstract-art-ann-powell.jpg")
}

.small-exp-activity {
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: width .4s;
}
