.experience-index-item {
  width: 95%;
  height: 15%;
  margin: 30px auto;
  display: flex;
}

.experience-index-item section {
  width: 100%;
}

.small-exp-ribbion-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vote-buttons {
  width: 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vote-buttons svg {
  font-size: 2vw;
}

.vote-buttons svg:hover {
  cursor: pointer;
}

.vote-count {
  user-select: none;
  transform: rotate(90deg);

}

.small-exp-title {
  padding-left: 4.2vw;
  font-size: 22px;
  /* font-family: arial, sans-serif; */
  font-family: 'Futura', sans-serif;
  font-weight: 700;
}

.small-exp-title:hover {
  cursor: pointer;
}

.experience-ribbon {
  display: flex;
  height: 84.44444444444%;
  width: 100%;
  background: url("https://images.fineartamerica.com/images-medium-large-5/color-explosion-abstract-art-ann-powell.jpg")
}

.small-exp-activity {
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: width .3s;
  justify-content: center;
  align-items: center;
}

.small-exp-icon{
  text-shadow: 3px 6px #272634;
  font-size: 40px;
  color: black;
  opacity: 0.8;
}

.small-exp-text-box {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  font-weight: 700;
  font-family: 'Arial', sans-serif;
  font-size: 19px;
  color: black;
  position: relative;
  padding: 2px 6px;
}

.small-exp-word {
  letter-spacing: -2px;
  margin-top: -10px;
  opacity: 0.8;
}

.small-exp-word:nth-child(even) {
  letter-spacing: -2px;
  opacity: 0.8;
  color: rgba(87, 118, 168, 0.8);
  /* background-image: linear-gradient(to top, darkblue 60%, lightblue);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text; */
}

.small-exp-selected-title {
  font-size: 24px;
  background-color: #fff;
}

.small-exp-description {
  font-weight: bold;
  font-size: 16px;
  font-family: "Arial";
  /* background-color: rgba(255, 255, 255, 0.4); */
  color: black;
}
