<html>

  <head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="/assets/javascripts/bundle.js"></script>
    <script src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=867019043470476&autoLogAppEvents=1"></script>
    <link rel="stylesheet" href="css/reset.scss" type="text/css">
    <link rel="stylesheet" href="css/main.css" type="text/css">
    <link rel="stylesheet" href="css/home_page.css" type="text/css">
  </head>

  <body>


    <div id="root"></div>
  </body>
  <form action="/api/test" method="POST" enctype="multipart/form-data">
    <input type="text" name="garbage" value="garbage">
    <input type="file" name="file">
    <input type="file" name="file">
    <input type="file" name="file">
    <input type="file" name="file">
    

    <input type="submit" value="submit">
  </form>

</html>
